body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.pulsingdots{
    width: 100px;
    
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;

}
.pulsingdots div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    animation: pulsing 1s infinite ;
}
.pulsingdots div:nth-child(2){
    animation-delay: 0.2s;
}
.pulsingdots div:nth-child(3){
    animation-delay: 0.4s;
}
.pulsingdots div:nth-child(4){
    animation-delay: 0.5s;
}
@keyframes pulsing{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}